<div class="concert-page">
  <button mat-raised-button (click)="onAddConcertClicked()" class="add-button" *ngIf="isArtist">+ Create a Concert</button>
  <div *ngIf="formVisible" class="form-container">
    <app-concert-create-and-edit
      [concert]="concertData"
      (cancel)="onCancelRequested()"
      (add)="onConcertAddRequested($event)">
    </app-concert-create-and-edit>
  </div>
  <div class="concerts-filter-container">
    <div class="filter-container">
      <div class="filter-header">
        <span>Filtrar</span>
      </div>
      <div class="filter-options">
        <label *ngFor="let genre of genres" class="checkbox-label">
          <input
            type="checkbox"
            [value]="genre"
            (change)="onGenreChange($event)"
            [checked]="selectedGenres.includes(genre)"
          />
          {{ genre }}
        </label>
      </div>
    </div>

    <div class="concerts-grid">
      <div *ngFor="let concert of filteredConcerts" class="concert-card">
        <img [src]="concert.image" [alt]="concert.artist.name" />
        <div class="concert-info">
          <h3>{{ concert.artist.name }}</h3>
          <p>{{concert.date}}, {{ concert.venue.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
