<mat-toolbar color="primary" class="toolbar" *ngIf="showToolbar">
  <div class="logo-section">
    <img src="https://the-rumbling.github.io/StayMap-Landing_Page/starymaplogo.png" alt="Logo" class="logo" />
  </div>
  <nav class="nav-links">
    <a *ngFor="let option of options"
       [routerLink]="option.link"
       routerLinkActive="active"
       class="nav-link">
      {{ option.label }}
    </a>
  </nav>
  <div class="search-login-section">
    <mat-form-field >
      <mat-label>Buscar</mat-label>
      <input matInput type="text" />
      <button mat-icon-button matSuffix>
      </button>
    </mat-form-field>
  </div>
  <div class="button-login-container">
    <button mat-raised-button class="login-button" [routerLink]="['/login']" *ngIf="!isLoggedIn">Inicia sesión</button>
  </div>
  <button mat-raised-button [routerLink]="['/profile']" *ngIf="isLoggedIn">
    <img class="user-profile-image" [alt]="currentUser.name" [src]="currentUser.profileImage"/>
  </button>
</mat-toolbar>
<main class="main-content">
  <router-outlet></router-outlet>
</main>
