<div class="container">
  <div class="sidebar">
    <div *ngFor="let concert of concerts" class="card">
      <h3>{{ concert.artistName }}</h3>
      <p>{{ concert.venueName }} - {{ concert.date }}</p>
      <p class="sold-out">Sold out</p>
    </div>
  </div>
  <div class="map-section">
    <h1>Encuentra conciertos <span class="resaltado">cercanos</span></h1>
    <google-map
      height="88%"
      width="278%"
      [center]="center"
      [zoom]="13"
      [options]="mapOptions"
      class="mapa-estilizado">
      <map-marker
        *ngFor="let concert of concerts"
        [position]="concert.venueLocation"
        [icon]="customIcon"
        #marker="mapMarker"
        (mapClick)="openConcertInfo(concert, marker)"/>
      <map-info-window class="concert-details">
        <div>
          <h3>{{ concertSelected.artistName }}</h3>
          <p>{{ concertSelected.venueName }} - {{ concertSelected.date }}</p>
          <p><a href="https://www.youtube.com/">lolazo</a></p>
        </div>
      </map-info-window>
    </google-map>
  </div>
</div>
<p>concert-map works!</p>
